

<div class="container">
    <h3>create memo page</h3>
    <%= form_tag("/create")do %>
        <div class="form-group">
            <%= label_tag "form-title", "Title" %>
            <%= text_field :memos, :title, id:"form-title", class:"form-control", placeholder:"title" %>
        </div>
        <div class="form-group">
            <%= label_tag "form-body", "Content" %>
            <%= text_field :memos, :body, id:"form-content", class:"form-control", placeholder:"content"  %>
        </div>
        <%= submit_tag "Create", class:"btn btn-primary" %>
    <% end %>
</div>